<template>
  <base-card>
    <div class="card-body">
      <form @submit.prevent="saveMessage">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Your Email</label>
          <input
            type="email"
            v-model.trim="email"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Example input placeholder"
            required
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Message</label>
          <textarea
            class="form-control"
            v-model.trim="message"
            id="formGroupExampleInput2"
            rows="5"
            required
          >
          </textarea>
        </div>
        <button>Save</button>
      </form>
    </div>
  </base-card>
</template>

<script>
export default {
  data() {
    return {
      email: 'sert@gmail.com',
      message: 'Hello'
    }
  },
  methods: {
    saveMessage() {
      const coachId = this.$route.params.id
      const saveData = {
        coachId: coachId,
        email: this.email,
        message: this.message
      }
      //console.log(coachId,saveData)
      this.$store.dispatch('requests/contactCoach', saveData)
      this.$router.replace('/coaches')
    }
  }
}
</script>
