<template>
    <div class="card m-4">
        <div class="card-body">
            <p><a :href="emailLink">{{ email }}</a></p>
            <p>{{ message }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['email', 'message'],
    computed: {
        emailLink(){
            return 'mailto:' + this.email
        }
    },
}
</script>