<template>
  <div>
    <base-dialog :show="!!error" title="Error" @close="handleError">
      <p>{{ error }}</p>
    </base-dialog>

    <base-card v-if="hasMessage">
      <div class="row">
        <div class="col-12 text-center">
          <div class="card-body">
            <h4>Message</h4>
            <hr />
          </div>
        </div>
      </div>
      <base-spinner v-if="isLoading"></base-spinner>
      <div class="row" v-else-if="hasMessage && !isLoading">
        <div class="col-12">
          <message-item
            ul
            v-for="msg in getMessages"
            :key="msg.id"
            :email="msg.userEmail"
            :message="msg.message"
          >
          </message-item>
        </div>
      </div>
    </base-card>

    <div class="card" v-else>
      <div class="card-body text-center">
        <h4>No Message</h4>
      </div>
    </div>
  </div>
</template>

<script>
import MessageItem from './MessageItem.vue'
export default {
  components: {
    MessageItem
  },
  data() {
    return {
      isLoading: false,
      error: null
    }
  },
  computed: {
    getMessages() {
      return this.$store.getters['requests/getRequests']
    },
    hasMessage() {
      return this.$store.getters['requests/hasRequests']
    }
  },
  created() {
    this.loadRequests()
  },
  methods: {
    async loadRequests() {
      this.isLoading = true
      try {
        await this.$store.dispatch('requests/fetchRequests')
      } catch (error) {
        this.error = error.message || 'something failed'
      }
      this.isLoading = false
    },
    handleError() {
      this.error = null
    }
  }
}
</script>
