<template>
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="nav">
      <li class="nav-item">
        <router-link to="/"><a class="nav-link" aria-current="page">Home</a></router-link>
      </li>
      <li class="nav-item">
        <router-link to="/coaches"> <a class="nav-link">Coache List</a></router-link>
      </li>
      <li class="nav-item" v-if="isLoggedIn">
        <router-link to="/request"> <a class="nav-link">Request</a></router-link>
      </li>
      <li class="nav-item" v-else>
        <router-link to="/auth"><a class="nav-link">Login</a></router-link>
      </li>

      <li v-if="isLoggedIn">
        <button @click="logout">
          <a class="nav-link">Logout</a>
        </button>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  methods: {
    logout() {
      console.log('logout')
      this.$store.dispatch('logout')
      this.$router.replace('/coaches')
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>
