<template>
  <div>
    <base-dialog :show="!!error" title="An error..." @close="handleError">
      <p>{{ error }}</p>
    </base-dialog>
    <base-dialog :show="isLoadding" fixed title="Authentication...">
      <p>Authentications...</p>
      <base-spinner></base-spinner>
    </base-dialog>
    <base-card>
      <div class="card-body">
        <form @submit.prevent="submitForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              v-model="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              v-model="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <base-button type="button" @click="submitForm" class="btn btn-primary">{{
            submitButtonCaption
          }}</base-button>
          <base-button type="button" mode="flat" @click="switchAuthMode" class="btn btn-default">{{
            submitModeButtonCaption
          }}</base-button>

          <div v-if="!formIsvalid" id="emailHelp" class="form-text text-danger">
            *Please check eamil or password
          </div>
        </form>
      </div>
    </base-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      formIsvalid: true,
      mode: 'login',
      isLoadding: false,
      error: null
    }
  },
  computed: {
    submitButtonCaption() {
      if (this.mode === 'login') {
        return 'Login'
      } else {
        return 'Signup'
      }
    },
    submitModeButtonCaption() {
      if (this.mode === 'login') {
        return 'Signup instead'
      } else {
        return 'Login instead'
      }
    }
  },
  methods: {
    async submitForm() {
      this.formIsvalid = true
      if (this.email === '' || !this.email.includes('@') || this.password.length < 6) {
        this.formIsvalid = false
        return
      }

      const actionPayload = {
        email: this.email,
        password: this.password
      }
      this.isLoadding = true
      try {
        if (this.mode === 'login') {
          await this.$store.dispatch('login', actionPayload)
        } else {
          await this.$store.dispatch('signup', actionPayload)
        }
        this.$router.replace('/coaches')
      } catch (err) {
        console.log(err)
        this.error = err.message || 'Auth error'
      }
      this.isLoadding = false
    },
    switchAuthMode() {
      if (this.mode === 'login') {
        this.mode = 'signup'
      } else {
        this.mode = 'login'
      }
    },
    handleError() {
      this.error = null
    }
  }
}
</script>
