<template>
    <div class="row">
        <div class="col-12">
            <base-card>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                {{ fullName }}
                            </h3>
                            <h6>
                                ${{ rate }} / hour
                            </h6>
                            <p class="mt-4">{{ description }}</p>
                            <base-bage v-for="area in areas" :key="area" :type="area" :title="area"></base-bage>
                            <hr>
                            <base-button v-if="currentContactRoute" mode="btn-outline-success" link :to="contactLink">Contact</base-button>
                            <router-view></router-view>
                        </div>
                    </div>

                </div>
            </base-card>

        </div>
    </div>
</template>
    
<script>
export default {
    props: ['id'],
    data() {
        return {
            selectedCoach: null
        }
    },
    computed: {
        fullName() {
            return this.selectedCoach.firstName + ' ' + this.selectedCoach.lastName;
        }, contactLink() {
            return this.$route.path + '/contact'
        }, description() {
            return this.selectedCoach.description
        }, areas() {
            return this.selectedCoach.areas
        }, rate() {
            return this.selectedCoach.hourlyRate
        },currentContactRoute(){
            const currentRoute = this.$route.path;
            if(currentRoute.includes('/contact')){
                return false
            }

            return true;
        }
    },
    created() {
        this.selectedCoach = this.$store.getters['coaches/coaches'].find(coach => coach.id === this.id)
        //console.log(this.selectedCoach)
    }
}
</script>