<template>
  <base-card>
    <div class="card-body">
      <div class="row">
        <div class="col-12"><h4 class="card-title">Find Your Coach</h4></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <div class="form-check mb-3">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  checked
                  id="backend"
                  @change="setFilters"
                />Backend
              </label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <div class="form-check mb-3">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  checked
                  id="frontend"
                  @change="setFilters"
                />Frontend
              </label>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <div class="form-check mb-3">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  checked
                  id="fullstack"
                  @change="setFilters"
                />FullStack
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </base-card>
</template>

<script>
export default {
  emites: ['change-filter'],
  data() {
    return {
      filters: {
        backend: true,
        frontend: true,
        fullstack: true
      }
    }
  },
  methods: {
    setFilters(event) {
      const inputId = event.target.id
      const isActive = event.target.checked
      const updateFilters = {
        ...this.filters,
        [inputId]: isActive
      }

      this.filters = updateFilters

      this.$emit('change-filter', updateFilters)
    }
  }
}
</script>
