<template>
    <base-card>
        <div class="card-body">
            <div class="row col-12">
                <h3>
                    {{ fullName }}
                </h3>
                <h6>
                    ${{ rate }} / hour
                </h6>
                <h6>
                    <base-bage v-for="area in areas" :key="area" :type="area" :title="area"></base-bage>
                </h6>

            </div>
            <hr>
            <div class="row">
                <div class="col-12 text-end">
                    <base-button mode="btn-outline-primary text-black" link :to="conachContactLink">Contact</base-button>
                    <base-button mode="btn-outline-secondary" link :to="conachDetailLink">Detail</base-button>
                </div>
            </div>

        </div>
    </base-card>
</template>

<script>
export default {
    props: ['id', 'firstName', 'lastName', 'rate', 'areas'],
    computed: {
        viewData(){
            //console.log(this.areas)
            return 0;
        },
        fullName() {
            return this.firstName + ' ' + this.lastName;
        },
        conachContactLink() {
            return this.$route.path + '/' + this.id + '/contact';
        },
        conachDetailLink() {
            //console.log(this.$route.path + '/' + this.id)
            return this.$route.path + '/' + this.id;
        }
    }
}
</script>