<template>
  <div>
    <base-dialog :show="!!error" title="Error :(" @close="handleError">
      <p>{{ error }}</p>
    </base-dialog>
    <div class="row">
      <div class="col-12">
        <div v-if="isLoadding">
          <base-spinner></base-spinner>
        </div>

        <coach-filter @change-filter="setFilters"></coach-filter>

        <base-card v-if="hasCoaches">
          <div class="card-body shadow">
            <div class="row">
              <div class="col-4">
                <base-button mode="btn-info text-white" @click="loadCoaches(true)"
                  >Refresh</base-button
                >
              </div>
              <div class="col-3">
                <base-button link="/auth" mode="btn-primary" v-if="!isLoggedIn">Login</base-button>
              </div>
              <div class="col-4 text-end">
                <base-button v-if="isLoggedIn && !isCoach" mode="btn-primary" link to="/register"
                  >Register as Coach</base-button
                >
              </div>
            </div>
            <div>
              <coach-item
                v-for="coach in filterdCoaches"
                :key="coach.id"
                :id="coach.id"
                :firstName="coach.firstName"
                :lastName="coach.lastName"
                :rate="coach.hourlyRate"
                :areas="coach.areas"
              ></coach-item>
            </div>
          </div>
        </base-card>
      </div>
    </div>
  </div>
</template>

<script>
import CoachItem from './CoacheItem.vue'
import CoachFilter from './CoacheFilter.vue'
// import { handleError } from 'vue'
export default {
  data() {
    return {
      isLoadding: false,
      error: null,
      activeFilter: {
        backend: true,
        frontend: true,
        fullstack: true
      }
    }
  },
  created() {
    this.loadCoaches()
  },
  methods: {
    setFilters(updateFilters) {
      this.activeFilter = updateFilters
      console.log(this.activeFilter, updateFilters)
    },
    async loadCoaches(forceRefresh = false) {
      this.isLoadding = true
      try {
        await this.$store.dispatch('coaches/loadCoaches', {
          forceRefresh: forceRefresh
        })
      } catch (error) {
        this.error = error.message || 'somethig went wrong'
      }
      this.isLoadding = false
    },
    handleError() {
      this.error = null
    }
  },
  components: {
    CoachItem,
    CoachFilter
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated
    },
    filterdCoaches() {
      const coaches = this.$store.getters['coaches/coaches']
      // return coaches;
      const result = coaches.filter((coach) => {
        console.log(coach)
        if (this.activeFilter.frontend && coach.areas.includes('frontend')) {
          return true
        }
        if (this.activeFilter.backend && coach.areas.includes('backend')) {
          return true
        }
        if (this.activeFilter.fullstack && coach.areas.includes('fullstack')) {
          return true
        }

        return false
      })
      // //console.log(result)
      return result
    },
    hasCoaches() {
      return !this.isLoadding && this.$store.getters['coaches/hasCoaches']
    },
    isCoach() {
      return this.$store.getters['coaches/isCoach']
    }
  }
}
</script>
