<template>
    <form @submit.prevent="submitForm">
        <div class="mb-3">
            <label for="firstname" class="form-label">Firstname</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': !firstName.isValid }"
                @blur="clearInvalid('firstName')" v-model.trim="firstName.val" id="firstname">
            <div :class="{ 'invalid-feedback': !firstName.isValid }" v-if="!firstName.isValid">Firstname is not empty</div>
        </div>

        <div class="mb-3">
            <label for="lastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': !lastName.isValid }" v-model.trim="lastName.val"
                id="lastname" @blur="clearInvalid('lastName')">
            <div class="invalid-feedback" v-if="!lastName.isValid">LastName is not empty</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" :class="{ 'is-invalid': !description.isValid }"
                v-model.trim="description.val" id="description" @blur="clearInvalid('description')">
            <div class="invalid-feedback" v-if="!description.isValid">description is not empty</div>
        </div>

        <div class="mb-3">
            <label for="rate" class="form-label">HouryRate</label>
            <input type="number" class="form-control" :class="{ 'is-invalid': !rate.isValid }" id="rate" v-model="rate.val"
                @blur="clearInvalid('rate')">
            <div class="invalid-feedback" v-if="!rate.isValid">HouryRate is not empty</div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" value="backend" v-model="areas.val" type="checkbox" id="backend"
                                @click="clearInvalid('areas')">Backend
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" value="frontend" v-model="areas.val" type="checkbox"
                                id="frontend" @click="clearInvalid('areas')">Frontend

                        </label>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" value="fullstack" v-model="areas.val" type="checkbox"
                                id="fullstack" @click="clearInvalid('areas')">FullStack
                        </label>
                    </div>
                </div>
            </div>
            <div class="invalid" v-if="!areas.isValid">Select less one</div>
        </div>
        <hr>
        <base-button mode="btn-outline-success">Register</base-button>
    </form>
</template>

<script>

export default {
    emits: ['save-data'],
    data() {
        return {
            firstName: {
                val: '',
                isValid: true
            },
            lastName: {
                val: '',
                isValid: true
            },
            description: {
                val: '',
                isValid: true
            },
            rate: {
                val: '',
                isValid: true
            },
            areas: {
                val: [],
                isValid: true
            },
            formIsValid: true

        }
    }, methods: {
        validateForm() {
            this.formIsValid = true;
            if (this.firstName.val === '') {
                console.log(this.firstName.isValid)
                this.firstName.isValid = false;
                this.formIsValid = false;
            }
            if (this.lastName.val === '') {
                this.lastName.isValid = false;
                this.formIsValid = false;
            }

            if (this.description.val === '') {
                this.description.isValid = false;
                this.formIsValid = false;
            }

            if (!this.rate.val || this.rate.val < 0) {
                this.rate.isValid = false;
                this.formIsValid = false;
            }

            if (this.areas.val.length === 0) {
                this.areas.isValid = false;
                this.formIsValid = false;
            }
        },
        submitForm() {
            this.validateForm();
            if (!this.formIsValid) {
                return;
            }
            const formData = {
                first: this.firstName.val,
                last: this.lastName.val,
                desc: this.description.val,
                rate: this.rate.val,
                areas: this.areas.val,
            };
            // console.log(formData);
            this.$emit('save-data', formData)
        }, clearInvalid(inputName) {
           
            this[inputName].isValid = true;
        }
    },
}
</script>

<style scoped>
.invalid {
    color: red;
}

p {
    color: red
}
</style>