<template>
    <base-card>
        <div class="card-body">
            <h4 class="card-title">Coach Register</h4>
            <coach-form @save-data="saveData"></coach-form>
        </div>
    </base-card>
</template>
    
<script>
import CoachForm from './CoachForm.vue';
export default {
    components: {
        CoachForm
    }, methods: {
        saveData(data) {
            this.$store.dispatch('coaches/registerCoach',data);
            // this.$router.push('/coaches');
            this.$router.replace('/coaches'); //Can't go back form page
        }
    }
}
</script>