<template>
    <span :class="type" class="bage">
        {{ text }}
    </span>
</template>

<script>
export default {
    props: ['title', 'type'],
    computed: {
        text() {
            // //console.log(this.title)
            return this.title.toUpperCase()
        }
    }
}
</script>

<style scoped>
.bage {
    background-color: aliceblue;
    color: black;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.frontend {
    background-color: rgb(72, 150, 218);
    color: white;
}

.backend {
    background-color: rgb(0, 67, 174);
    color: white;
}

.fullstack {
    background-color: rgb(255, 0, 0);
    color: white;
}
</style>