<template>
    <button v-if="!link" :class="mode" class="btn">
        <slot></slot>
    </button>
    <router-link v-else :to="to" :class="mode" class="btn">
        <slot></slot>
    </router-link>
</template>

<script>
export default {
    props: {
        mode: {
            type: String,
            required: false,
            default: null
        },
        link: {
            type: Boolean,
            required: false,
            default: false
        }, to: {
            type: String,
            required: false,
            default: '/'
        }
    }
}
</script>

<style>
.btn{
    margin : 0.5rem;
}
</style>